In [ ]:
import pandas as pd

In [ ]:
deliveries_data = pd.read_csv("/content/deliveries.csv")
matches_data = pd.read_csv("/content/matches.csv")

In [ ]:
print(deliveries_data.columns)

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
# Group by batsman and calculate total runs
batsman_total_runs = deliveries_data.groupby("batter")["batsman_runs"].sum().reset_index()

In [ ]:
# Rename columns for better readability
batsman_total_runs.columns = ["Batsman", "Total Runs"]

In [ ]:
# Find the batsman with the highest runs
highest_scorer = batsman_total_runs.sort_values(by="Total Runs", ascending=False).head(1)
print(highest_scorer)

     Batsman  Total Runs
631  V Kohli        8014

In [ ]:
# Find the batsman with the highest runs
highest_scorer = batsman_total_runs.sort_values(by="Total Runs", ascending=True).head(1)
print(highest_scorer)

       Batsman  Total Runs
225  IC Pandey           0

In [ ]:
runs_stats = {
    'Mean': deliveries_data['batsman_runs'].mean(),
    'Median': deliveries_data['batsman_runs'].median(),
    'Mode': deliveries_data['batsman_runs'].mode()[0]
}
print("Runs Statistics:", runs_stats)

Runs Statistics: {'Mean': 1.265000766518473, 'Median': 1.0, 'Mode': 0}

In [ ]:
wickets_data = deliveries_data[deliveries_data['is_wicket'] == 1]
wickets_per_player = wickets_data.groupby('bowler').size()

In [ ]:
wickets_stats = {
    'Mean': wickets_per_player.mean(),
    'Median': wickets_per_player.median(),
    'Mode': wickets_per_player.mode()[0] if not wickets_per_player.mode().empty else 0
}
print("Wickets Statistics:", wickets_stats)

Wickets Statistics: {'Mean': 28.46153846153846, 'Median': 11.0, 'Mode': 1}

In [ ]:
batting_data = pd.DataFrame({
    "Player": ["Player A", "Player B", "Player C"],
    "Average": [55.0, 45.0, 40.0],
    "Strike Rate": [140.0, 130.0, 120.0],
    "100s": [4, 5, 4],
    "50s": [6, 0, 5],
})

In [ ]:
# Create a copy for normalized data
normalized_data = batting_data.copy()

In [ ]:
# Normalize each column
for metric in ["Average", "Strike Rate", "100s", "50s"]:
    normalized_data[f"Normalized {metric}"] = (
        batting_data[metric] / batting_data[metric].max()
    ) * 100

In [ ]:
# Display the normalized columns
print(normalized_data[["Player", "Normalized Average", "Normalized Strike Rate", "Normalized 100s", "Normalized 50s"]])

     Player  Normalized Average  Normalized Strike Rate  Normalized 100s  \
0  Player A          100.000000              100.000000             80.0
1  Player B           81.818182               92.857143            100.0
2  Player C           72.727273               85.714286             80.0

   Normalized 50s
0      100.000000
1        0.000000
2       83.333333

In [ ]:
matches_data.head(), matches_data.columns

(       id   season        city        date match_type player_of_match  \
 0  335982  2007/08   Bangalore  2008-04-18     League     BB McCullum
 1  335983  2007/08  Chandigarh  2008-04-19     League      MEK Hussey
 2  335984  2007/08       Delhi  2008-04-19     League     MF Maharoof
 3  335985  2007/08      Mumbai  2008-04-20     League      MV Boucher
 4  335986  2007/08     Kolkata  2008-04-20     League       DJ Hussey

                                         venue                        team1  \
 0                       M Chinnaswamy Stadium  Royal Challengers Bangalore
 1  Punjab Cricket Association Stadium, Mohali              Kings XI Punjab
 2                            Feroz Shah Kotla             Delhi Daredevils
 3                            Wankhede Stadium               Mumbai Indians
 4                                Eden Gardens        Kolkata Knight Riders

                          team2                  toss_winner toss_decision  \
 0        Kolkata Knight Riders  Royal Challengers Bangalore         field
 1          Chennai Super Kings          Chennai Super Kings           bat
 2             Rajasthan Royals             Rajasthan Royals           bat
 3  Royal Challengers Bangalore               Mumbai Indians           bat
 4              Deccan Chargers              Deccan Chargers           bat

                         winner   result  result_margin  target_runs  \
 0        Kolkata Knight Riders     runs          140.0        223.0
 1          Chennai Super Kings     runs           33.0        241.0
 2             Delhi Daredevils  wickets            9.0        130.0
 3  Royal Challengers Bangalore  wickets            5.0        166.0
 4        Kolkata Knight Riders  wickets            5.0        111.0

    target_overs super_over method    umpire1         umpire2
 0          20.0          N    NaN  Asad Rauf     RE Koertzen
 1          20.0          N    NaN  MR Benson      SL Shastri
 2          20.0          N    NaN  Aleem Dar  GA Pratapkumar
 3          20.0          N    NaN   SJ Davis       DJ Harper
 4          20.0          N    NaN  BF Bowden     K Hariharan  ,
 Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
        'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
        'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
        'method', 'umpire1', 'umpire2'],
       dtype='object'))

In [ ]:
deliveries_data.head(), deliveries_data.columns

(   match_id  inning           batting_team                 bowling_team  over  \
 0    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
 1    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
 2    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
 3    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
 4    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0

    ball       batter   bowler  non_striker  batsman_runs  extra_runs  \
 0     1   SC Ganguly  P Kumar  BB McCullum             0           1
 1     2  BB McCullum  P Kumar   SC Ganguly             0           0
 2     3  BB McCullum  P Kumar   SC Ganguly             0           1
 3     4  BB McCullum  P Kumar   SC Ganguly             0           0
 4     5  BB McCullum  P Kumar   SC Ganguly             0           0

    total_runs extras_type  is_wicket player_dismissed dismissal_kind fielder
 0           1     legbyes          0              NaN            NaN     NaN
 1           0         NaN          0              NaN            NaN     NaN
 2           1       wides          0              NaN            NaN     NaN
 3           0         NaN          0              NaN            NaN     NaN
 4           0         NaN          0              NaN            NaN     NaN  ,
 Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
        'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
        'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
        'dismissal_kind', 'fielder'],
       dtype='object'))

In [ ]:
# Grouping by city and counting the number of matches played in each city
city_match_counts = matches_data['city'].value_counts().head(20)

In [ ]:
# Converting the city match counts to a DataFrame with renamed columns
top_cities = pd.DataFrame({
    'City': city_match_counts.index,
    'Matches Played': city_match_counts.values
})
top_cities

             City  Matches Played
0          Mumbai             173
1         Kolkata              93
2           Delhi              90
3         Chennai              85
4       Hyderabad              77
5       Bangalore              65
6      Chandigarh              61
7          Jaipur              57
8            Pune              51
9       Abu Dhabi              37
10      Ahmedabad              36
11      Bengaluru              29
12         Durban              15
13  Visakhapatnam              15
14        Lucknow              14
15          Dubai              13
16     Dharamsala              13
17      Centurion              12
18         Rajkot              10
19        Sharjah              10